
<ul>
  
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Meter Management</a>
    <div class="dropdown-content">
      <a routerLink="/meter">Add Meter </a>
      <a routerLink="/deleteMeter">Delete Meter</a>
      
    </div>
  </li>
  <li><a routerLink="/expenses">Expenses Management</a></li>
 
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Customer Management</a>
    <div class="dropdown-content">
      <a routerLink="/addCustomer">Add New Customer</a>
      <a routerLink="/updateCustomer">Update Customer</a>
      <a routerLink="/deleteCustomer">Delete Customer </a>
      
    </div>
  </li>
  <li><a routerLink="/custReport">Customer's Debit</a></li>
 
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">All Reports</a>
    <div class="dropdown-content">
      <a routerLink="/allReports">Customer Report </a>
      <a routerLink="/meterReports">Meter Report</a>
      <a routerLink="/expensesReport">Expenses Report</a>
      <a routerLink="/balanceSheetReport">Balance Sheet</a>
    </div>
  </li>
</ul>
